/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


/* GENERAL EDITS */
body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 3rem;
    font-weight: 600;
}
p {
    font-weight: 300;
}
.button {
    background-color: #E76F51;
}
.button-outline {
    border: 1px solid #E76F51 ;
    color: #E76F51;
}
span {
    color: #E76F51;
}

/* HERO SECTION */
.hero-section {
    background-color: #264653;
}

/* FEATURED SECTION */
.grayscale {
    filter: grayscale(100%);
}
hr {
    margin: 0 auto;
    border-bottom: 1px solid #E76F51 ;
    width: 3.5rem;
    
}

/* CLIENTS SECTION */
.star {
    
    width: 1.5rem;
}

/* BONUS SECTIONS */

/* Service Section */
.hover:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .5s ease-in-out;
}

/* Dealer Section */
.dealer {
    background-image: url(images/dealer-banner.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* FOOTER */

.footer {
    background-color: #0B0D17;
}
